<a href="https://colab.research.google.com/github/saba4405/SabaYasmeen5F8/blob/main/assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x = 10
print(type(x))

<class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a = 5
b = 10
c = 15
print(a+b+c)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
x = 67
y = 5.3245
z = 'rishi'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a = int(input("Enter a value:"))
b = int(input("Enter b value:"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

Enter a value:78
Enter b value:85
163
-7
6630
0.9176470588235294

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
a = '123'
print(int(a))
print(float(a))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
name = str(input("Enter a name:"))
first_letter  = name[0]
print(first_letter)

Enter a name:Saba
S

In [ ]:
name = str(input("Enter a name:"))
print(name[0])

Enter a name:Saba
S

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
name = str(input("Enter a string:"))
print(len(name))

Enter a string:rishi
5

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
name = str(input("Enter a name:"))
print(name.isalpha())

Enter a name:yasmeen
True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
a = 'Rishi'
b = 'Collage'
print(a+b)

RishiCollage

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
name = str(input("Enter a name:"))
print(name.index('abc'))

Enter a name:rishiabc
5

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
name = str(input("Enter a string:"))
print(name.upper())
print(name.lower())

Enter a string:Mango
MANGO
mango

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
name = str(input("Enter a thing name:"))
print(name.count("a"))

Enter a thing name:saba
2

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name = 'Saba'
print("Hello",name,"Good Morning!")

Hello Saba Good Morning!

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
a = 35
b = 64
print(a+b)

99

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name = str(input("Enter a name:"))
age = int(input("Enter age:"))
print("My name is",name,"and my age is",age)

Enter a name:Saba
Enter age:19
My name is Saba and my age is 19

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
a = int(input("Enter a number:"))
if a > 0:
  print(a,"is positive")
elif a < 0:
  print(a,"is negative")
else :
   print(a,"is 0")

Enter a number:245
245 is positive

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
a = int(input("Enter a number:"))
b = int(input("Enter a number:"))
c = int(input("Enter a number:"))
if a > b and a > c:
  print(a,"is maximum")
elif b > a and b > c:
  print(b,"is maximum")
else:
  print(c,"is maximum")

Enter a number:54637
Enter a number:6474
Enter a number:87458
87458 is maximum

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year = int(input("Enter a year:"))
if(year%4==0 and year%100!=0) or (year%400==0):
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

Enter a year:2027
2027 is not a leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
number=int(input("enter the number:"))
if (number%3==0 and number%5==0):
    print("The number is divisible by 3 and 5")

enter the number:30
The number is divisible by 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
name = input("Enter a name:")
if name == name[::-1]:
    print(f"{name} is a palindrome.")
else:
    print(f"{name} is not a palindrome.")

Enter a name:afeefa
afeefa is a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
number = 2
while number<=20:
  print(number)
  number += 2

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
number = int(input("Enter a number:"))
for i in range(1,11):
  print(number,"*",i,"=",number*i)

Enter a number:76
76 * 1 = 76
76 * 2 = 152
76 * 3 = 228
76 * 4 = 304
76 * 5 = 380
76 * 6 = 456
76 * 7 = 532
76 * 8 = 608
76 * 9 = 684
76 * 10 = 760

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a number:"))
sum = 0
number = 1
while number <=n:
  sum = sum + number
  number = number + 1
print(sum)

Enter a number:12
78

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
number = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= number:
    factorial *= i
    i += 1
print("The factorial of", number, "is", factorial)

Enter a number: 13
The factorial of 13 is 6227020800

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("Enter the number of terms: "))
a, b = 0, 1
print("Fibonacci sequence:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 5
Fibonacci sequence:
0 1 1 2 3

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
for number in range(1, 101):
    if number > 1:
        for i in range(2, number):
            if (number % i) == 0:
                break
        else:
            print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
for number in range(1, 100):
    if number > 50:
        print(f"Found a number greater than 50: {number}")
        break
    else:
        print(f"Current number: {number}")

Current number: 1
Current number: 2
Current number: 3
Current number: 4
Current number: 5
Current number: 6
Current number: 7
Current number: 8
Current number: 9
Current number: 10
Current number: 11
Current number: 12
Current number: 13
Current number: 14
Current number: 15
Current number: 16
Current number: 17
Current number: 18
Current number: 19
Current number: 20
Current number: 21
Current number: 22
Current number: 23
Current number: 24
Current number: 25
Current number: 26
Current number: 27
Current number: 28
Current number: 29
Current number: 30
Current number: 31
Current number: 32
Current number: 33
Current number: 34
Current number: 35
Current number: 36
Current number: 37
Current number: 38
Current number: 39
Current number: 40
Current number: 41
Current number: 42
Current number: 43
Current number: 44
Current number: 45
Current number: 46
Current number: 47
Current number: 48
Current number: 49
Current number: 50
Found a number greater than 50: 51

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for number in range(1, 21):
    if number % 2 == 0:
        continue
    print(number)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
string = input("Enter a string: ")
character = input("Enter a character: ")
count = 0

Enter a string: hello world
Enter a character: o

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
number = int(input("Enter a number: "))
sum = 0
while number > 0:
    digit = number % 10
    sum += digit
    number //= 10
print("The sum of digits is:", sum)

Enter a number: 25
The sum of digits is: 7

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
numbers = [1, 2, 3, 4, 5]
total_sum = sum(numbers)
print("The sum of the elements is:", total_sum)

The sum of the elements is: 15

In [ ]:
# Write a Python program to find the largest element in a list.
my_list = [20, 80, 90 ,54, 87]
largest_element = max(my_list)
print("The largest element is:",largest_element)

The largest element is: 90

In [ ]:
# Write a Python program to reverse a list.
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print("The reversed list is:", reversed_list)

The reversed list is: [5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
my_list = [x for x in my_list if x != element_to_remove]
print("Removed the occurence of the element",element_to_remove)
print(my_list)

Removed the occurence of the element 2
[1, 3, 4, 5]

In [ ]:
# Write a Python program to find the index of an element in a list.
my_list = [10, 20, 30, 40, 50]
element_to_find = 30
index = my_list.index(element_to_find)
print("The index of",element_to_find,"is",index)

The index of 30 is 2

In [ ]:
# Write a Python program to find if a specific element exists in a list.
my_list = [1, 2, 3, 4, 5]
element_to_find = 3
if element_to_find in my_list:
    print("The element exists in the list.")

The element exists in the list.

In [ ]:
# Write a Python program to remove duplicates from a list.
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print("The list with duplicates removed:", unique_list)

The list with duplicates removed: [1, 2, 3, 4, 5]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
my_list = [1, 2, 2, 3, 4, 4, 5]
element_to_count = 4
count = my_list.count(element_to_count)
print("The occurence of the element",element_to_count,"in the list is",count,"times.")

The occurence of the element 4 in the list is 2 times.

In [ ]:
# Write a Python program to get the number of even numbers in a list.
my_list = [1, 2, 3, 4, 5, 6]
count = 0
for number in my_list:
  if number % 2 == 0:
    count += 1
print("The number of even numbers in the list is:", count)

The number of even numbers in the list is: 3

In [ ]:
# Write a Python program to create a tuple and print it.
my_tuple = (1, 2, 3, 4, 5)
print("The tuple is:", my_tuple)

The tuple is: (1, 2, 3, 4, 5)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print("List:", my_list)
new_tuple = tuple(my_list)
print("Tuple:", new_tuple)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.
my_tuple = (10, 20, 30, 40, 50)
maximum = max(my_tuple)
minimum = min(my_tuple)
print("The maximum value is:", maximum)
print("The minimum value is:", minimum)

The maximum value is: 50
The minimum value is: 10

In [ ]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print("a:", a)
print("b:", b)
print("c:", c)

a: 10
b: 20
c: 30

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print("The set after adding an element:", my_set)

The set after adding an element: {1, 2, 3, 4, 5, 6}

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("The dictionary is:", my_dict)

The dictionary is: {'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Write a Python program to access a dictionary value using a key.
my_dict = {'a': 1, 'b': 2, 'c': 3}
key = 'b'
value = my_dict[key]
print("The value associated with key", key, "is:", value)

The value associated with key b is: 2

In [ ]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 3}
key = 'b'
if key in my_dict:
    print("The key", key, "exists in the dictionary.")

The key b exists in the dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged_dict = {**dict1, **dict2}
print("The merged dictionary is:", merged_dict)

The merged dictionary is: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Write a Python program to remove a key from a dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['b']
print(my_dict)

{'a': 1, 'c': 3}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {'Name': 'Saba', 'Group': 'CSE', 'College': 'Rishi'}
num_keys = len(my_dict)
print(num_keys)

3

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.
my_dict = {'a': 10, 'b': 5, 'c': 15}
values = my_dict.values()
largest_value = max(values)
smallest_value = min(values)
print("Largest value:", largest_value)
print("Smallest value:", smallest_value)

Largest value: 15
Smallest value: 5

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.
def square(number):
    return number ** 2
    result = square(5)
    print("The square of 5 is:", result)

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.
def add_numbers(num1, num2):
    total = num1 + num2
    return total
result = add_numbers(5, 3)
print(result)

8

In [ ]:
# Write a Python function to check if a given number is prime.
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

In [ ]:
# Write a Python function to calculate the power of a number using recursion.
def power(base, exponent):
    if exponent == 0:
        return 1
    else:
        return base * power(base, exponent - 1)

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def get_list_length(my_list):
    count = 0
    for element in my_list:
        count += 1
    return count

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional_arguments(*args):
    total = 0
    for arg in args:
        total += arg
    return total

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def find_maximum(a, b):
    if a > b:
        return a
    else:
        return b

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.
def calculate_product(numbers):
    product = 1
    for number in numbers:
        product *= number
    return product

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words = ['apple', 'banana', 'cherry', 'date', 'blueberry']
long_words = [word for word in words if len(word) > 4]
print(long_words)

['apple', 'banana', 'cherry', 'blueberry']

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
words = ['apple', 'mango', 'strawberry']
uppercase_letters = [word.upper() for word in words]
print(uppercase_letters)

['APPLE', 'MANGO', 'STRAWBERRY']

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    [fibonacci_numbers.append(fibonacci_numbers[-1] + fibonacci_numbers[-2]) for _ in range(2, n)]
    return fibonacci_numbers

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ['name', 'age', 'city']
values = ['Saba', 19, 'Hyderabad']
my_dict = {keys[i]: values[i] for i in range(len(keys))}
print(my_dict)

{'name': 'Saba', 'age': 19, 'city': 'Hyderabad'}

In [3]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [4]:
# Write a Python program to square each element of a list using the map() function.
numbers = [1, 2, 3, 4, 5]
def square(x):
    return x * x
squared_numbers = list(map(square, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [8]:
# Write a Python program to filter all even numbers from a list using the filter() function.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def is_even(x):
  return x % 2 == 0
even_numbers = list(filter(is_even, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [23]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
is_divisible_by_3_and_5 = lambda number: number % 3 == 0 and number % 5 == 0
number = int(input("Enter a number: "))
if is_divisible_by_3_and_5(number):
    print(f"{number} is divisible by both 3 and 5")
else:
    print(f"{number} is not divisible by both 3 and 5")

Enter a number: 15
15 is divisible by both 3 and 5

In [21]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [17]:
# Write a Python program to remove all occurrences of a specific element from a list.
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
my_list = [x for x in my_list if x != element_to_remove]
print("Removed the occurence of the element",element_to_remove)
print(my_list)

Removed the occurence of the element 2
[1, 3, 4, 5]

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`